#background{
	position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    z-index:-1;
}
#background img{
    height:100%; 
    width:100%; 
    border:0; 
}
#indesigncs3 img{

	position:absolute;
    left:20px;
    top:120px;
    
	-moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 1px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 1px 1px rgb(79,79,79);
    box-shadow: 5px 5px 1px 1px rgb(79,79,79);
}
#citadelspirit img{

	position:absolute;
    left:115px;
    top:100px;


	-moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 5px 7px 1px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 7px 1px 1px rgb(79,79,79);
    box-shadow: 5px 7px 1px 1px rgb(79,79,79);
}

#notsowild img{

	position:absolute;
    left:215px;
    top:190px;

	-moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 5px 7px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 7px 3px 1px rgb(79,79,79);
    box-shadow: 5px 7px 3px 1px rgb(79,79,79);
}



#thedevotedlife img{

    position:absolute;
    left:315px;
    top:230px;

    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}



#slowlooking img{

    position:absolute;
    left:375px;
    top:135px;

    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}

#thebrain img{

    position:absolute;
    left:430px;
    top:135px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}

#girl img{

    position:absolute;
    left:525px;
    top:180px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}

#music img{

    position:absolute;
    left:600px;
    top:250px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}

#iainpears img{

    position:absolute;
    left:660px;
    top:230px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    box-shadow: 3px 3px 3px 1px rgb(79,79,79);
}

#nothing img{

    position:absolute;
    left:960px;
    top:220px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    box-shadow: 3px 3px 3px 1px rgb(79,79,79);
}

#choosing img{

    position:absolute;
    left:1015px;
    top:170px;

    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    box-shadow: 3px 3px 3px 1px rgb(79,79,79);
}

#persuasion img{

    position:absolute;
    left:1075px;
    top:220px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    box-shadow: 3px 3px 3px 1px rgb(79,79,79);
}

#enterprise img{

    position:absolute;
    left:1150px;
    top:120px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 3px 3px 1px rgb(79,79,79);
    box-shadow: 5px 3px 3px 1px rgb(79,79,79);
}


