#background{
	position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    z-index:-1;
}
#background img{
    height:100%; 
    width:100%; 
    border:0; 
}
#indesigncs3 img{

	position:absolute;
    left:20px;
    top:80px;
    
	-moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 1px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 1px 1px rgb(79,79,79);
    box-shadow: 5px 5px 1px 1px rgb(79,79,79);
}
#citadelspirit img{

	position:absolute;
    left:130px;
    top:75px;


	-moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 5px 7px 1px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 7px 1px 1px rgb(79,79,79);
    box-shadow: 5px 7px 1px 1px rgb(79,79,79);
}

#notsowild img{

	position:absolute;
    left:240px;
    top:140px;

	-moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 5px 7px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 7px 3px 1px rgb(79,79,79);
    box-shadow: 5px 7px 3px 1px rgb(79,79,79);
}



#thedevotedlife img{

    position:absolute;
    left:350px;
    top:195px;

    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}



#slowlooking img{

    position:absolute;
    left:415px;
    top:165px;

    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}

#thebrain img{

    position:absolute;
    left:465px;
    top:165px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}

#girl img{

    position:absolute;
    left:560px;
    top:140px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}

#music img{

    position:absolute;
    left:645px;
    top:245px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 5px 3px 1px rgb(79,79,79);
    box-shadow: 5px 5px 3px 1px rgb(79,79,79);
}

#iainpears img{

    position:absolute;
    left:710px;
    top:245px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    box-shadow: 3px 3px 3px 1px rgb(79,79,79);
}

#nothing img{

    position:absolute;
    left:1050px;
    top:165px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    box-shadow: 3px 3px 3px 1px rgb(79,79,79);
}

#choosing img{

    position:absolute;
    left:1115px;
    top:165px;

    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    box-shadow: 3px 3px 3px 1px rgb(79,79,79);
}

#persuasion img{

    position:absolute;
    left:1180px;
    top:200px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 3px 3px 3px 1px rgb(79,79,79);
    box-shadow: 3px 3px 3px 1px rgb(79,79,79);
}

#enterprise img{

    position:absolute;
    left:1260px;
    top:130px;

    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 3px 3px 1px rgb(79,79,79);
    -webkit-box-shadow: 5px 3px 3px 1px rgb(79,79,79);
    box-shadow: 5px 3px 3px 1px rgb(79,79,79);
}

